doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL | PTM (Pantang Menyerah) 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 PTM	
        h2 ( Pantang Menyerah ) 

      section
        h2 Pornografi 
        hr
        ul
          li Pengertian Pornografi 
          li Maksud dan Tujuan Penanganan Pornografi 
          li Jenis Media Pornografi
          li Ciri-Ciri Pornografi
          li Dampak Pornografi

      section
        h2 Pengertian Pornografi
        h3 Pornografi adalah penyajian seks secara terisolir dalam bentuk tulisan, gambar, foto, film, pertunjukan atau pementasan dengan tujuan komersial. Tujuan komersialartinya mereka yang ingin menonton pertunjukan seksual ini harus mengeluarkan sejumlah uang, paling tidak untuk mengakses internetnya.

      section
        h2 Maksud dan Tujuan Penanganan Pornografi
        h3 Memberikan informasi yang jelas kepada masyarakat akan bahaya pornografi terutama bagi remaja dan tindakan yang dilakukan untuk mencegah penyebaran ponografi di masyarakat luas.

      section
        h2 Dampak Pornografi Terhadap Hormon
        h3 Dopmine
        h3 Neuropiniphrin
        h3 Serotonin
        h3 Oksitosin
        h3 Antropinisin
      section
        h2 Dopmine
        ul
          li Efek dopamine ternyata menimbulkan peningkatan level kebutuhan. .Pornografi itu akan membuat si dopamine bekerja terus menerus! Sayangnya jika penyebabnya bekerja karena pornografi maka Anda akan terus membutuhkan tampilan pornografi yang lebih menantang untuk merasakan sensasi kepuasan! Akibatnya terjadi peningkatan level kebutuhan terhadap pornografi dengan efek sama halnya seperti candu/narkoba. Bila ini kebutuhan akan pornografi yang meningkat terus terjadi maka Anda akan semakin mencari pemuasan dari pornografi yang lebih berbeda yang pada akhirnya bisa mengarah pada pergaulan seks bebas (free sex),Hanya karena kebutuhan untuk merasakan sensasi kepuasan (orgasme) tersebut mereka terus ingin melakukannya. Mereka tahu itu salah, tapi tetap melakukannya. Mereka tahu itu salah, tapi tidak bisa melawannya. Itulah parahnya hormon dopamine yang dibuat bekerja secara terus menerus oleh pornografi.
      section
        h2 Neuropiniphrin
        ul
          li Jika seorang pebisnis sejati otaknya dipenuhi dengan yang namanya peluang dan keuntungan. Melihat usaha yang bisa dijadikan ladang uang, maka insting bisnisnya akan bekerja dengan cepat. Ini sebagai akibat bekerjanya hormon Neuropiniphrin di otak.Hal inilah yang juga terjadi pada para pecandu pornografi. Otaknya selalu berputar–putar dengan yang namanya pornografi. Otaknya mudah sekali berpikir ke arah pornografi jika melihat hal-hal yang merangsangnya walaupun sedikit saja. Akibatnya tidak bisa berfikir jernih, malas belajar, tidak kreatif, karena otaknya sudah dipenuhi dengan daftar kosakata atau kejadian yang bisa otaknya sambung-sambungkan dengan yang namanya seks.
      section
        h2 serotonin
        ul
          li Saat seorang perokok lagi stress dia akan merokok. Karena rokok adalah sesuatu yang bisa membuatnya senang dan tentram. Itulah efek kerja dari hormon serotonin. Membuat seseorang merasa nyaman saat hormon tersebut keluar.Nah, begitu pula saat seseorang bersentuhan dengan yang namanya pornografi, maka hormon itupun keluar. Dia pun merasa tenang dan tentram karenanya. Efeknya? Setiap kali stress ia akan lari ke pornografi, karena itu yang membuatnya tentram. Menyedihkan bukan?Jika seseorang stress lalu mencari ketenangan dengan cara bermeditasi atau relaksasi tentu lebih keren kan? Apalagi kalau mencari ketenangan dan kenyamanan dengan cara beribadah, tentu lebih mantap!
      section
        h2 Oksitosin
        ul
          li Pornografi membuat hormon oksitosin bekerja secara terus menerus pada saat seseorang mengakses pornografi. Sudah tahu kan akibatnya seperti apa? Ia akan menjadi terikat secara batin dengan pornografi tersebut. Akibatnya orang yang kecanduan pornografi akan merasa kangen jika tidak melihat pornografi selama beberapa hari.Penjabaran ilmiah ini pernah dikemukakan oleh Dr. Randall F. Hyde, PhD dalam sebuah seminar di Indonesia. Randall mengakui Amerika Serikat sendiri sulit mengontrol peredaran pornografi. “Percayalah pornografi adalah suatu bencana yang AS sendiri kewalahan. Negara kami (AS) dapat mempersiapkan perang, dengan senjata dan tentara. Negara kami bisa menghadapi penyakit dengan temuan obat–obat dari penelitian ilmuwan kami. Tapi untuk pornografi… percayalah, pada awalnya kami tidak siap dan tidak tahu cara apa yang harus dilakukan untuk melawannya.” Begitu pengakuannya.
      section
        h2 Antopinisin
        ul
          li Kalau ada perempuan yang memakai baju seksi, mungkin orang normal hanya kan berkata ” perempuan itu seksi” . Tetapi kalau orang yang sudah kecanduan pornografi, akan berfikir, gimana ya rasanya bersetubuh dengan dia…, ( sambil ngiler diem diem bego gitu )Lagi berdiri disamping perempuan. langsung otaknya ngeres dah ! padahal perempuannya biasa aja. gak ngedance, ngeliuk-liukin badan, apalagi striptise. Sama sekali enggak ! Tapi otaknya sudah yang gimanaaaa gitu.Itulah yang dirasakan orang yang sudah berurusan dengan pornografi. Ngerusak otak !Nah inilah yang sering digembor-gemborkan orang bahwa pornografi itu ngerusak otak. inilah yang diamaksudkan. Sering terbayang selalu.Akibatnya tidak bisa berfikir jernih, males belajar, males mikir, males kretif. Karena otaknya sudah dipenuhi dengan daftar kosakata atau kejadian yang bisa otak dia sambung-sambungin dengan yang namanya seks.
      section
        h2 Dampak Pornografi Bagi Tubuh
        ul
        Dampak pornograpi pada tubuh manusia sangat fatal , karena dampak tersebut melebihi kecanduan narkoba dan kerusakan lainnya.
        h3 Berikut ini beberapa organ tubuh yang rusak akibat kecanduan pornograpi.
        p 1. Kerusakan otak
        p 2. Kerusakan organ reproduksi
        p 3. dan Mental
      section
        h2 Pencegahan Pornograpi
        h3 Berikut ini, tips cara menghindari pornografi :
        p - Dari diri sendiri , - orang tua , dan lingkungan
        p 1. Sadar Bahwa Hal Pornografi Adalah Dosa
                Semua agama melarang pornografi. Karena hal tersebut merupakan hal yang hina. Kesadaran ini timbul dalam hati manusia itu sendiri. Kuat dan teguhnya hati seseorang akan menimbulkan prinsip yang kuat pula.
        p 2. Pengawasan dari orang tua dengan edukasi tentang seks dan perhatian akan kerusakan yang di akibatkan pergaulan bebas.
        p 3. jangan terpengaruh akan lingkungan yang negatif , carilang lingkungan atau pergaulan yang sehat dan tetap kuatkan iman dalam hati.
      
      

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild