doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL | PTM (Pantang Menyerah) 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 PTM
        h2 ( Pantang Menyerah ) 

 
      section
        h2 Pornografi 
        hr
        ul
          li Pengertian Pornografi 
          li Maksud dan Tujuan Penanganan Pornografi 
          li Jenis Media Pornografi
          li Ciri-Ciri Pornografi
          li Dampak Pornografi

      section
        h2 Pengertian Pornografi
        h3 Pornografi adalah penyajian seks secara terisolir dalam bentuk tulisan, gambar, foto, film, pertunjukan atau pementasan dengan tujuan komersial. Tujuan komersialartinya mereka yang ingin menonton pertunjukan seksual ini harus mengeluarkan sejumlah uang, paling tidak untuk mengakses internetnya.

      section
        h2 Maksud dan Tujuan Penanganan Pornografi
        h3 Memberikan informasi yang jelas kepada masyarakat akan bahaya pornografi terutama bagi remaja dan tindakan yang dilakukan untuk mencegah penyebaran ponografi di masyarakat luas.

      section
        h2 Jenis-jenis Media Pornografi
        h3 Unsur media menjadi suatu patokan utama berkait dengan batasan pornografi tersebut. Media yang dimaksud dapat dikelompokkan dalam 3 (tiga ) kelompok besar yaitu :

      section
        p 1. Media audio (dengar, yang termasuk dalam kategori ini diantaranya siaran radio, kaset, CD, telepon, ragam media audio lain yang dapat diakses di internet:
        p a. lagu-lagu yang mengandung lirik mesum, lagu-lagu yang mengandung bunyi-bunyian atau suara-suara yang dapat diasosiasikan dengan kegiatan seksual;
        p b. program radio dimana penyiar atau pendengar berbicara dengan gaya mesum;
        p c. jasa layanan pembicaraan tentang seks melalui telepon (party line) dan sebagainya.
  
      section
        p 2. Media audio-visual (pandang-dengar) seperti program televisi, film layar lebar, video, laser disc, VCD, DVD, game komputer, atau ragam media audio visual lain yang dapat diakses di internet :
        p a. film-film yang mengandung adegan seks atau menampilkan artis yang tampil dengan pakaian minim atau tidak (seolah-olah) tidak berpakaian.
        p b. adegan pertunjukkan musik dimana penyanyi, musisi atau penari latar hadir dengan tampilan dan gerak yang membangkitkan syahwat penonton.
          
      section
        h2 Dampak Pornografi Terhadap Hormon    
        h3 Dopmine
        ul
          li Efek dopamine ternyata menimbulkan peningkatan level kebutuhan. .Pornografi itu akan membuat si dopamine bekerja terus menerus! Sayangnya jika penyebabnya bekerja karena pornografi maka Anda akan terus membutuhkan tampilan pornografi yang lebih menantang untuk merasakan sensasi kepuasan! Akibatnya terjadi peningkatan level kebutuhan terhadap pornografi dengan efek sama halnya seperti candu/narkoba. Bila ini kebutuhan akan pornografi yang meningkat terus terjadi maka Anda akan semakin mencari pemuasan dari pornografi yang lebih berbeda yang pada akhirnya bisa mengarah pada pergaulan seks bebas (free sex),Hanya karena kebutuhan untuk merasakan sensasi kepuasan (orgasme) tersebut mereka terus ingin melakukannya. Mereka tahu itu salah, tapi tetap melakukannya. Mereka tahu itu salah, tapi tidak bisa melawannya. Itulah parahnya hormon dopamine yang dibuat bekerja secara terus menerus oleh pornografi.
         
      section          
        h3 Neuropiniphrin
        ul
          li Jika seorang pebisnis sejati otaknya dipenuhi dengan yang namanya peluang dan keuntungan. Melihat usaha yang bisa dijadikan ladang uang, maka insting bisnisnya akan bekerja dengan cepat. Ini sebagai akibat bekerjanya hormon Neuropiniphrin di otak.Hal inilah yang juga terjadi pada para pecandu pornografi. Otaknya selalu berputar–putar dengan yang namanya pornografi. Otaknya mudah sekali berpikir ke arah pornografi jika melihat hal-hal yang merangsangnya walaupun sedikit saja. Akibatnya tidak bisa berfikir jernih, malas belajar, tidak kreatif, karena otaknya sudah dipenuhi dengan daftar kosakata atau kejadian yang bisa otaknya sambung-sambungkan dengan yang namanya seks.
         
      section   
        h3 Serotonin
        ul
          li Saat seorang perokok lagi stress dia akan merokok. Karena rokok adalah sesuatu yang bisa membuatnya senang dan tentram. Itulah efek kerja dari hormon serotonin. Membuat seseorang merasa nyaman saat hormon tersebut keluar.Nah, begitu pula saat seseorang bersentuhan dengan yang namanya pornografi, maka hormon itupun keluar. Dia pun merasa tenang dan tentram karenanya. Efeknya? Setiap kali stress ia akan lari ke pornografi, karena itu yang membuatnya tentram. Menyedihkan bukan?Jika seseorang stress lalu mencari ketenangan dengan cara bermeditasi atau relaksasi tentu lebih keren kan? Apalagi kalau mencari ketenangan dan kenyamanan dengan cara beribadah, tentu lebih mantap!
         
      section   
        h3 Oksitosin
        ul
          li Pornografi membuat hormon oksitosin bekerja secara terus menerus pada saat seseorang mengakses pornografi. Sudah tahu kan akibatnya seperti apa? Ia akan menjadi terikat secara batin dengan pornografi tersebut. Akibatnya orang yang kecanduan pornografi akan merasa kangen jika tidak melihat pornografi selama beberapa hari.Penjabaran ilmiah ini pernah dikemukakan oleh Dr. Randall F. Hyde, PhD dalam sebuah seminar di Indonesia. Randall mengakui Amerika Serikat sendiri sulit mengontrol peredaran pornografi. “Percayalah pornografi adalah suatu bencana yang AS sendiri kewalahan. Negara kami (AS) dapat mempersiapkan perang, dengan senjata dan tentara. Negara kami bisa menghadapi penyakit dengan temuan obat–obat dari penelitian ilmuwan kami. Tapi untuk pornografi… percayalah, pada awalnya kami tidak siap dan tidak tahu cara apa yang harus dilakukan untuk melawannya.” Begitu pengakuannya.
      section   
        h3 1. Media audio (dengar, yang termasuk dalam kategori ini diantaranya siaran radio, kaset, CD, telepon, ragam media audio lain yang dapat diakses di internet:
        h3 a. lagu-lagu yang mengandung lirik mesum, lagu-lagu yang mengandung bunyi-bunyian atau suara-suara yang dapat diasosiasikan dengan kegiatan seksual;
        h3 b. program radio dimana penyiar atau pendengar berbicara dengan gaya mesum;
        h3 c. jasa layanan pembicaraan tentang seks melalui telepon (party line) dan sebagainya.
         
      
      section
        h2 Dampak Pornografi Bagi Tubuh
        ul
          li Dampak pornograpi pada tubuh manusia sangat fatal , karena dampak tersebut melebihi kecanduan narkoba dan kerusakan lainnya.
        h3 Berikut ini beberapa organ tubuh yang rusak akibat kecanduan pornograpi.
        p 1. Kerusakan otak.
        p 2. Kerusakan organ reproduksi.
        p 3. dan Mental          
        
      section
        h2 Pandangan Positif Pornografi
        p Beberapa individu justru melihat situs porno sebagai media yang menyediakan beragam informasi supercepat mengenai masalah-masalah seksual sekaligus menawarkan cara-cara baru dan tersembunyi. 
        p Dikatakan tersembunyi karena pengguna merasa tidak ada orang lain yang tahu. Untuk melakukan eksplorasi seksual, 
        p keberadaan situs porno dipandang dapat membantu individu yang sudah berpasangan maupun belum berpasangan yang mengalami masalah dalam hubungan seksual.  
        
     
       
      
      section
        h2 Kerusakan Otak.
        ul
            li Pada otak kecanduan pornograpi, dalam penelitian otak depan akan mengecil karena terjadi rangsangan yang berlebihan dan terus menerus sehingga otak yang mengatur nafsu tersebut rusak dan mengecil.
       
      section
        h2 kerusakan organ reproduksi.
        ul
            li Sama halnya dengan otak, organ reproduksi juga akan mengalami kerusakan, dan akan menimbulkan banyak penyakit kelamin.
       
      section
        h2 Kerusakan Mental atau kejiwaan.
        ul
            li Akibat dari kecanduan tersebut, pecandu akan terganggu kejiwaannya terhadap seks dan mental yang tempramen terhadap lawan jenis.  
       
      section
        h2 Pencegahan Pornograpi
        h3 Berikut ini, tips cara menghindari pornografi :
        
      section 
        p Dari diri sendiri, orang tua, dan lingkungan
        p 1. Sadar Bahwa Hal Pornografi Adalah Dosa, Semua agama melarang pornografi. Karena hal tersebut merupakan hal yang hina. Kesadaran ini timbul dalam hati manusia itu sendiri. Kuat dan teguhnya hati seseorang akan menimbulkan prinsip yang kuat pula.
        p 2. Pengawasan dari orang tua dengan edukasi tentang seks dan perhatian akan kerusakan yang di akibatkan pergaulan bebas.
        p 3. jangan terpengaruh akan lingkungan yang negatif, carilang lingkungan atau pergaulan yang sehat dan tetap kuatkan iman dalam hati.
       
      section
        h2 Ciri-Ciri seseorang terkena kecanduan Pornograpi
        h3 1.Antisosial
        p Teman atau keluarga mungkin mengajak Anda untuk bertamasya, tapi Anda lebih memilih untu menyendiri. Anda juga kerap membuat berbagai alasan guna menghindari interaksi sosial dan supaya pulang sesegera mungkin. Sesaat setelah tiba di rumah, Anda akan segera disibukkan dengan segala konten porno.
       
      section 
        p 2.Menjadikan hobi nonton porno sebagai rahasia
        p Bagi pecandu pornografi, mereka akan menyimpan rapat-rapat fakta bahwa mereka sering menonton film porno. Menurut sebuah survei yang dilakukan Brigham Young University, 70 persen wanita menjadikan kegiatan menonton film porno sebagai rahasianya. Hanya 17 persen dari perempuan pecandu pornografi yang secara terbuka mengakui kebiasaan menonton film pornonya.
       
      section 
        p 3. Lupa waktu
        p Tak terasa lima jam telah Anda lalui dan Anda tak tahu apa yang sudah Anda lakukan. Seperti artikel feature dalam The Sun, pecandu pornografi, James Cliff menjelaskan kecanduan pornografi menghabiskan semua waktunya. "Porno adalah kecanduan yang memakan semua waktu. Aku lupa waktu dan tak bisa berpikir secara nalar, seperti seorang pecandu alkohol. Aku akan bangun keesokan harinya dan tak ingat apa yang sudah kulakukan," katanya.
      
      section 
        p 4. Kehidupan seks terganggu
        p Dengan terus-menerus menonton film porno, ini akan mengurangi gairah seksual Anda. "Hal ini dapat menguras libido Anda apalagi jika Anda sering masturbasi. Kebiasaan ini akan berakhir pada berkurangnya waktu hubungan seks Anda dengan pasangan sehingga tidak ada waktu untuk bermesraan, foreplay, dan berkomunikasi dengan pasangan," kata terapis seks dan penulis buku, Ian Kerner.
      
      section 
        p 5. Berharap kehidupan seks layaknya adegan film porno
        p Bagi Anda, pasangan bisa saja bersaing dengan bintang film porno favorit Anda untuk mencoba menghidupkan kembali adegan-adegan dari video porno yang Anda lihat. Bahkan Anda bisa saja marah jika pasangan tak mampu melakukan adegan seperti di film porno.
      
      section   
        h2 Pendapat para pakar tentang ciri-ciri seorang anak yang kecanduan porno
        p  Mudah haus,
        p  Sering buang air kecil,
        p  Sering berkahayal,
        p  Sulit konsentrasi,
        p  Sering bermain "play station" dan internet dalam waktu yang lama,
        p  prestasi akademik menurun. 
      
      section
        h2 Dampak Pornografi Bagi Anak Di Bawah Umur     
        p - Ada enam hormon yang ada dalam tubuh manusia yaitu hormon dopamine, norephineprine, testosteron, oxytocin, vasopressin dan serotonine . Apa jadinya jika anak melihat/menonton materi pornografi? Maka hormon-hormon tersebut menjadi aktif sebelum waktunya (terlalu dini), dan terbentuklah perpustakaan porno di otaknya yang setiap saat bisa diakses oleh anak.    
      section
        p - Banyak ahli berpendapat, kecanduan pornografi lebih berbahaya dari pada kecanduan narkoba. Narkoba merusak tiga bagian otak sementara pornografi merusak lima wilayah otak (bagian Lobus Frontal, Gyrus Insula, Nucleus Accumbens Putamen, Cingulated dan Cerebellum)  yang berperan di dalam kontrol perilaku yang menimbulkan perbuatan berulang-ulang terhadap pemuasan seksual.   
      section
        p - Neuroscientist Donald Hilton bahkan menyebutkan, otak pecandu pornografi sama ‘ringsek’nya dengan kondisi mobil yang mengalami tabrakan. Ketika anak sering melihat gambar/film porno, maka bagian otak yang berfungsi menyimpan ajaran moral dan nilai-nilai serta membuat perencanaan hidup, akan menciut, mengecil dan akibatnya dorongan seks menjadi tidak terkendali yang membuatnya ketagihan seks dan pada akhirnya menjadikannya pelanggan pornografi seumur hidup.
     
      section
        h3 1.Antisosial
            li Teman atau keluarga mungkin mengajak Anda untuk bertamasya, tapi Anda lebih memilih untu menyendiri. Anda juga kerap membuat berbagai alasan guna menghindari interaksi sosial dan supaya pulang sesegera mungkin. Sesaat setelah tiba di rumah, Anda akan segera disibukkan dengan segala konten porno.
      
      section
        h3 2.Menjadikan hobi nonton porno sebagai rahasia
            li Bagi pecandu pornografi, mereka akan menyimpan rapat-rapat fakta bahwa mereka sering menonton film porno. Menurut sebuah survei yang dilakukan Brigham Young University, 70 persen wanita menjadikan kegiatan menonton film porno sebagai rahasianya. Hanya 17 persen dari perempuan pecandu pornografi yang secara terbuka mengakui kebiasaan menonton film pornonya.
      
      section
        h3 3. Lupa waktu
            li Tak terasa lima jam telah Anda lalui dan Anda tak tahu apa yang sudah Anda lakukan. Seperti artikel feature dalam The Sun, pecandu pornografi, James Cliff menjelaskan kecanduan pornografi menghabiskan semua waktunya. "Porno adalah kecanduan yang memakan semua waktu. Aku lupa waktu dan tak bisa berpikir secara nalar, seperti seorang pecandu alkohol. Aku akan bangun keesokan harinya dan tak ingat apa yang sudah kulakukan," katanya.
      
      section
        h3 4. Kehidupan seks terganggu
            li Dengan terus-menerus menonton film porno, ini akan mengurangi gairah seksual Anda. "Hal ini dapat menguras libido Anda apalagi jika Anda sering masturbasi. Kebiasaan ini akan berakhir pada berkurangnya waktu hubungan seks Anda dengan pasangan sehingga tidak ada waktu untuk bermesraan, foreplay, dan berkomunikasi dengan pasangan," kata terapis seks dan penulis buku, Ian Kerner.
       
      section
       h3 5. Berharap kehidupan seks layaknya adegan film porno
            li Bagi Anda, pasangan bisa saja bersaing dengan bintang film porno favorit Anda untuk mencoba menghidupkan kembali adegan-adegan dari video porno yang Anda lihat. Bahkan Anda bisa saja marah jika pasangan tak mampu melakukan adegan seperti di film porno.
        
      section
        h2 Dampak Pornografi Bagi Anak Di Bawah Umur
        p Ada enam hormon yang ada dalam tubuh manusia yaitu hormon dopamine, norephineprine, testosteron, oxytocin, vasopressin dan serotonine . Apa jadinya jika anak melihat/menonton materi pornografi? Maka hormon-hormon tersebut menjadi aktif sebelum waktunya (terlalu dini), dan terbentuklah perpustakaan porno di otaknya yang setiap saat bisa diakses oleh anak.
       
      section 
        p Banyak ahli berpendapat, kecanduan pornografi lebih berbahaya dari pada kecanduan narkoba. Narkoba merusak tiga bagian otak sementara pornografi merusak lima wilayah otak (bagian Lobus Frontal, Gyrus Insula, Nucleus Accumbens Putamen, Cingulated dan Cerebellum)  yang berperan di dalam kontrol perilaku yang menimbulkan perbuatan berulang-ulang terhadap pemuasan seksual.
       
      section 
        p Neuroscientist Donald Hilton bahkan menyebutkan, otak pecandu pornografi sama ‘ringsek’nya dengan kondisi mobil yang mengalami tabrakan. Ketika anak sering melihat gambar/film porno, maka bagian otak yang berfungsi menyimpan ajaran moral dan nilai-nilai serta membuat perencanaan hidup, akan menciut, mengecil dan akibatnya dorongan seks menjadi tidak terkendali yang membuatnya ketagihan seks dan pada akhirnya menjadikannya pelanggan pornografi seumur hidup.
       
      section
        h2 Melindungi Anak dari Pengaruh Pornografi 
        p Apa yang harus dilakukan orang tua untuk melindunginya dari pengaruh pornografi? Berikut adalah beberapa hal yang bisa dilakukan orangtua untuk melindungi anak-anak dari bahaya pornografi (upaya pencegahan):
        p 1. Tempatkan komputer di area yang mudah terawasi dan monitor penggunaan internet anak
        p 2. Batasi akses internet anak           
      section      
        p 3. Jalin komunikasi dua arah dengan anak, dengarkan pendapat mereka.  (Anak-anak yang jiwanya selalu merasa sendiri, boring, stres, dan lelah akan sangat gampang dimasuki oleh industri pornografi)
        p 4. Ajari anak cara mendeteksi dan menghindari undangan seks online
        p 5. Selalu sediakan waktu khusus untuk anak, sesekali ikuti kegiatan anak dan adakan acara kumpul anggota keluarga untuk mendekatkan hubungan orang tua -anak      
      section      
         p 6. Jangan menjadi orangtua yang gaptek
         p 7. Berikan pendidikan agama sejak usia dini
         p 8. Dorong anak untuk melakukan aktivitas lain
         p 9. Orangtua adalah contoh yang dilihat dan didengar serta ditiru oleh anak 
      
      section
        h3 Mencegah Anak Dari Pengaruh Pornografi
        p 1. Pahami Anak
        p 2. Batasi akses internet anak
        p 3. Jalin komunikasi dua arah dengan anak, dengarkan pendapat mereka.
      
      section
        p 4. Ajari anak cara mendeteksi dan menghindari undangan seks online
        p 5. Selalu sediakan waktu khusus untuk anak
        p 6. Jangan menjadi orangtua yang gaptek
        p 7. Berikan pendidikan agama sejak usia dini
        p 8. Dorong anak untuk melakukan aktivitas lain
        p 9. Orangtua adalah contoh yang dilihat dan didengar serta ditiru oleh anak
 
      section
        h2 UUD Republik Indonesia no 44 Tahun 2008 Tentang Pornografi
        h3 Terdiri dari BAB 1-8 dan pasal 1-45

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL | PTM (Pantang Menyerah) 

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

 
 
     
     
      
      section
        h2 Dampak Pornografi Bagi Anak Di Bawah Umur     
        p - Ada enam hormon yang ada dalam tubuh manusia yaitu hormon dopamine, norephineprine, testosteron, oxytocin, vasopressin dan serotonine . Apa jadinya jika anak melihat/menonton materi pornografi? Maka hormon-hormon tersebut menjadi aktif sebelum waktunya (terlalu dini), dan terbentuklah perpustakaan porno di otaknya yang setiap saat bisa diakses oleh anak.    
      section
        p - Banyak ahli berpendapat, kecanduan pornografi lebih berbahaya dari pada kecanduan narkoba. Narkoba merusak tiga bagian otak sementara pornografi merusak lima wilayah otak (bagian Lobus Frontal, Gyrus Insula, Nucleus Accumbens Putamen, Cingulated dan Cerebellum)  yang berperan di dalam kontrol perilaku yang menimbulkan perbuatan berulang-ulang terhadap pemuasan seksual.   
      section
        p - Neuroscientist Donald Hilton bahkan menyebutkan, otak pecandu pornografi sama ‘ringsek’nya dengan kondisi mobil yang mengalami tabrakan. Ketika anak sering melihat gambar/film porno, maka bagian otak yang berfungsi menyimpan ajaran moral dan nilai-nilai serta membuat perencanaan hidup, akan menciut, mengecil dan akibatnya dorongan seks menjadi tidak terkendali yang membuatnya ketagihan seks dan pada akhirnya menjadikannya pelanggan pornografi seumur hidup.
      
        h2 Ciri-Ciri seseorang terkena kecanduan Pornograpi
        h3 1.Antisosial
            li Teman atau keluarga mungkin mengajak Anda untuk bertamasya, tapi Anda lebih memilih untu menyendiri. Anda juga kerap membuat berbagai alasan guna menghindari interaksi sosial dan supaya pulang sesegera mungkin. Sesaat setelah tiba di rumah, Anda akan segera disibukkan dengan segala konten porno.
        h3 2.Menjadikan hobi nonton porno sebagai rahasia
            li Bagi pecandu pornografi, mereka akan menyimpan rapat-rapat fakta bahwa mereka sering menonton film porno. Menurut sebuah survei yang dilakukan Brigham Young University, 70 persen wanita menjadikan kegiatan menonton film porno sebagai rahasianya. Hanya 17 persen dari perempuan pecandu pornografi yang secara terbuka mengakui kebiasaan menonton film pornonya.
        h3 3. Lupa waktu
            li Tak terasa lima jam telah Anda lalui dan Anda tak tahu apa yang sudah Anda lakukan. Seperti artikel feature dalam The Sun, pecandu pornografi, James Cliff menjelaskan kecanduan pornografi menghabiskan semua waktunya. "Porno adalah kecanduan yang memakan semua waktu. Aku lupa waktu dan tak bisa berpikir secara nalar, seperti seorang pecandu alkohol. Aku akan bangun keesokan harinya dan tak ingat apa yang sudah kulakukan," katanya.
        h3 4. Kehidupan seks terganggu
            li Dengan terus-menerus menonton film porno, ini akan mengurangi gairah seksual Anda. "Hal ini dapat menguras libido Anda apalagi jika Anda sering masturbasi. Kebiasaan ini akan berakhir pada berkurangnya waktu hubungan seks Anda dengan pasangan sehingga tidak ada waktu untuk bermesraan, foreplay, dan berkomunikasi dengan pasangan," kata terapis seks dan penulis buku, Ian Kerner.
        h3 5. Berharap kehidupan seks layaknya adegan film porno
            li Bagi Anda, pasangan bisa saja bersaing dengan bintang film porno favorit Anda untuk mencoba menghidupkan kembali adegan-adegan dari video porno yang Anda lihat. Bahkan Anda bisa saja marah jika pasangan tak mampu melakukan adegan seperti di film porno.
        
        h2 Pendapat para pakar tentang ciri-ciri seorang anak yang kecanduan porno
      section
        p  mudah haus
           sering buang air kecil
           sering berkahayal
           sulit konsentrasi,
           sering bermain "play station" dan internet dalam waktu yang lama,
           prestasi akademik menurun.

      section
        h2 Dampak Pornografi Bagi Anak Di Bawah Umur
        p Ada enam hormon yang ada dalam tubuh manusia yaitu hormon dopamine, norephineprine, testosteron, oxytocin, vasopressin dan serotonine . Apa jadinya jika anak melihat/menonton materi pornografi? Maka hormon-hormon tersebut menjadi aktif sebelum waktunya (terlalu dini), dan terbentuklah perpustakaan porno di otaknya yang setiap saat bisa diakses oleh anak.
        p Banyak ahli berpendapat, kecanduan pornografi lebih berbahaya dari pada kecanduan narkoba. Narkoba merusak tiga bagian otak sementara pornografi merusak lima wilayah otak (bagian Lobus Frontal, Gyrus Insula, Nucleus Accumbens Putamen, Cingulated dan Cerebellum)  yang berperan di dalam kontrol perilaku yang menimbulkan perbuatan berulang-ulang terhadap pemuasan seksual.
        p Neuroscientist Donald Hilton bahkan menyebutkan, otak pecandu pornografi sama ‘ringsek’nya dengan kondisi mobil yang mengalami tabrakan. Ketika anak sering melihat gambar/film porno, maka bagian otak yang berfungsi menyimpan ajaran moral dan nilai-nilai serta membuat perencanaan hidup, akan menciut, mengecil dan akibatnya dorongan seks menjadi tidak terkendali yang membuatnya ketagihan seks dan pada akhirnya menjadikannya pelanggan pornografi seumur hidup.
       
      section
        h2 Melindungi Anak dari Pengaruh Pornografi 
        p Apa yang harus dilakukan orang tua untuk melindunginya dari pengaruh pornografi? Berikut adalah beberapa hal yang bisa dilakukan orangtua untuk melindungi anak-anak dari bahaya pornografi (upaya pencegahan):
        p 1. Tempatkan komputer di area yang mudah terawasi dan monitor penggunaan internet anak
        p 2. Batasi akses internet anak           
      section      
        p 3. Jalin komunikasi dua arah dengan anak, dengarkan pendapat mereka.  (Anak-anak yang jiwanya selalu merasa sendiri, boring, stres, dan lelah akan sangat gampang dimasuki oleh industri pornografi)
        p 4. Ajari anak cara mendeteksi dan menghindari undangan seks online
        p 5. Selalu sediakan waktu khusus untuk anak, sesekali ikuti kegiatan anak dan adakan acara kumpul anggota keluarga untuk mendekatkan hubungan orang tua -anak      
      section      
         p 6. Jangan menjadi orangtua yang gaptek
         p 7. Berikan pendidikan agama sejak usia dini
         p 8. Dorong anak untuk melakukan aktivitas lain
         p 9. Orangtua adalah contoh yang dilihat dan didengar serta ditiru oleh anak 

      section
        h2 UUD Republik Indonesia no 44 Tahun 2008 Tentang Pornografi
        h3 Terdiri dari BAB 1-8 dan pasal 1-45
        p 1.Pornografi adalah gambar, sketsa, ilustrasi, foto, tulisan, suara, bunyi, gambar bergerak, animasi, kartun, percakapan, gerak tubuh, atau bentuk pesan lainnya melalui berbagai bentuk media komunikasi dan/atau pertunjukan di muka umum, yang memuat kecabulan atau eksploitasi seksual yang melanggar norma kesusilaan dalam masyarakat.
        p 2.Jasa pornografi adalah segala jenis layanan pornografi yang disediakan oleh orang perseorangan atau korporasi melalui pertunjukan langsung, televisi kabel, televisi teresterial, radio, telepon, internet, dan komunikasi elektronik lainnya serta surat kabar, majalah, dan barang cetakan lainnya.
        
      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p  Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section(data-bespoke-state='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-state">bespoke-state</a>

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
